* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#page1, #page2, #page3, #page4 {
    width: 100%;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 46px;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
}
.navbarLink:hover {
    text-decoration: underline;
}
.navbarLink {
    font-size: 14px;
    line-height: 46px;
}
.name {
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 46px;
    font-size: 17px;
}
.welcome {
    margin-top: 46px; /* Add a top margin to avoid content overlay */
    text-align: center;
}
.mid-text {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.welcome h2 {
    margin-bottom: 10px;
}
.welcome h3 {
    margin-top: 10px;
}
.welcome h3 a {
    text-decoration: none;
    color: black;
    margin: 0px 10px;
}
.welcome h3 a:hover {
    color: red;
}
.typewriter {
    border-right: 1px solid black;
    padding-right: 2px;
    display: inline;
}
